{% extends "base.html" %}
{% block title %}My Index Page{% endblock title %}

{% block content %}

<h1 style="text-align: center;">Books</h1>
<hr style="border: 1px solid black;  margin: 1% 20% 3%;">

<div class="container">
    <div class="row">
        {% for x in display_books %}
        <div class="col col-md-4 mb-4">
            <div class="card">
                <img src="static\book.webp" class="card-img-top" alt="..." width="25" height="200">

                <div class="card-body">
                    <h5 class="card-title">{{x.booksName}}</h5>
                    <p class="card-text">{{x.author}}</p>
                    <a href="#" class="btn btn-primary">{{x.publisher}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<div class="containerd py-4">
    <footer class="py-4 px-4">
        <hr style="border: 1px solid black; width: 100%;">

        <div class="  mx-4 my-4 ">
            <p>© 2021 Ayush Prasad Gupta. All rights reserved.</p>
        </div>
    </footer>

</div>
<style>
    .subtile {
        padding: 5px 10px;
    }
</style>
{% endblock content %}