{% extends "base.html" %}
{% block title %}My Index Page{% endblock title %}

{% block content %}
<h1>Books</h1>
<div class="maintile" style="width: 100%; ">
    <div class="subtile"
        style="width:50%; height:7cm; background-color: green; float: left;border:black;border-style:solid;border-width=5mm;">
        <h4><b>Book name</b></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, at? Quae voluptate quasi rerum esse.</p>
    </div>
    <div class="subtile"
        style=" width:50%;height:7cm;background-color:green; float: right;border:black;border-style:solid;border-width=5mm;">
        <h4><b>Book name</b></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, at? Quae voluptate quasi rerum esse.</p>
    </div>
    <div class="subtile"
        style=" width:50%;height:7cm;background-color:green; float: left;border:black;border-style:solid;border-width=5mm;">
        <h4><b>Book name</b></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, at? Quae voluptate quasi rerum esse.</p>
    </div>
    <div class="subtile"
        style=" width:50%;height:7cm;background-color:green; float: right;border:black;border-style:solid;sborder-width=5mm;">
        <h4><b>Book name</b></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, at? Quae voluptate quasi rerum esse.</p>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="containerd py-4">
    <footer class="py-4 px-4">
        <hr style="border: 1px solid black; width: 100%;">

        <div class="  mx-4 my-4 ">
            <p>© 2021 Ayush Prasad Gupta. All rights reserved.</p>
        </div>
    </footer>

</div>
<style>
    .subtile {
        padding: 5px 10px;
    }
</style>
{% endblock content %}